body{
	width: 100%;
	font-family:'Rubik', sans-serif;
	font-weight: normal;
}
section, footer, header{
	margin: 0 auto;
}
.wrapper{
	margin: 0 auto;
	max-width: 1180px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*---------------------------GLOBAL-----------------------------*/

/*---------------------------HEADER------------------------------*/
header .wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 34px;
}
.logo{
	display:flex;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;	
}
.icon{
	margin-right: 11px;
}
.search_form > input{
	width: 320px;
	border-bottom: 1px solid #333333;
	padding-bottom: 6px;
	outline: none;
}
.search_form > input{
	color: #333333;
	font-weight: 900;
}
.search_form > input::placeholder{ 
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #828282;
}
.search_form > button{
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #E5261E;
	border: none;
	outline: none;
	background: transparent;
	margin-left: 25px;
}
.search_form > button:hover{
	cursor: pointer;
}
.modal__open{
	background: #E5261E;
	border-radius: 4px;
	width: 113px;
	height: 38px;
	right: 4px;
	outline: none;
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}
.modal__open:hover{
	background: #CC221B;
	cursor: pointer;
}
.logout:hover{
	background: transparent;
}
#loggedIn{
	color: #333333;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: right;
	padding: 0px 10px;
}
.logout{
	width: 90px;
	color: #E5261E;
	background: transparent;
}
/*--------------------------------TABS------------------*/
.tabs{
	margin: 0 auto 32px;
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
	text-align: center;
}
.tab{
	display: inline-block;
	cursor: pointer;
	margin-left: 24px;
}
.active{
	color: #E5261E;
	border-bottom: 2px solid #E5261E;
	padding-bottom: 9px;
}

/*--------------------------------NEWS LIST-----------------------------*/
.news{
	margin: 48px 0 0 0;
}
.section_header{
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}
.news_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:16px 0 24px;
}
.news_list__item{
	max-width: 280px;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
}
.news__prev{
	width: 280px;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
}
.news__prev__image{
	display: block;
}
.news__topic{
	margin-top: 16px;
}
.news__description{
	height: 100%;
	background: rgba(51,51,51, 0.8);
	visibility: hidden;
	color: #F2F2F2;
	font-size: 16px;
	line-height: 140%;
	padding: 16px;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.news__prev:hover > .news__description{
	visibility: visible;
}

/*---------------------------------------GENRES-------------------------*/
.genres{
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 1.3rem;
	padding: .3rem;
}
.genres li{

}
.genre{
	width: 100%;
	height: 208px;
	cursor: pointer;
	text-align: center;
	border-radius: 6px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
}
.genre__name{
	margin: 32px 0 24px;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}
.comedy{
	background: linear-gradient(127.83deg,rgba(242, 201, 76, 0.8),rgba(242, 154, 74, 0.8));
}
.comedy:hover{
	background: linear-gradient(127.83deg,rgba(242, 201, 76, 1),rgba(242, 154, 74, 1));
}
.drama{
	background: linear-gradient(127.83deg,rgba(242, 153, 74, 0.8),rgba(235, 87, 87, 0.8));
}
.drama:hover{
	background: linear-gradient(127.83deg,rgba(242, 153, 74, 1),rgba(235, 87, 87, 1));
}
.scifi{
	background: linear-gradient(127.83deg,rgba(86, 204, 242, 0.8),rgba(47, 128, 237, 0.8));
}
.scifi:hover{
	background: linear-gradient(127.83deg,rgba(86, 204, 242, 1),rgba(47, 128, 237, 1));
}
.horror{
	background: linear-gradient(127.83deg,rgba(130, 130, 130, 0.8),rgba(51, 51, 51, 0.8));
}
.horror:hover{
	background: linear-gradient(127.83deg,rgba(130, 130, 130, 1),rgba(51, 51, 51, 1));
}

.horror__bg {
    width: 48px; height: 43px;
    background: url('assets/img/genre_icons.png') -47px -0px;
}
.scifi__bg {
    width: 48px; height: 48px;
    background: url('assets/img/genre_icons.png') -95px -0;
}
.drama__bg {
    width: 47px; height: 48px;
    background: url('assets/img/genre_icons.png') -0 -0;
}
.comedy__bg {
    width: 48px; height: 48px;
    background: url('assets/img/genre_icons.png') -143px -0;
}

/*-------------------------------CHANNEL LIST-------------------------*/
.channel_list{
	margin-top: 27px;
	max-height: 696px;
	min-width: 100%;
}
.channel_list__item{
	display: flex;
	height: 162px;
	width: 1180px;
	border-radius: 8px;
	background: #F2F2F2;
	margin-bottom: 16px;
}
.channel__logo{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 1 35%;
}
.channel__program{
	flex: 0 1 65%;
}
.channel__header{
	margin: 21px 0 17px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
}
.progrem__item{
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 19px;
}
.first{
	color: #E5261E;
}
.film{
	margin-left: 15px;
}

/*----------------------MODAL CONTAINER----------------------------*/
.modal{
	display: none;
}
.modal:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.6;
	z-index: 999;
}
.modal__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 36px;
	position: fixed;
	top: 25%;
	left: 50%;
	margin-left: -152px;
	height: 394px;
	width: 304px;
	border-radius: 8px;
	background: #fff;
	z-index: 99999;
	opacity: 1;	
}
.modal__container > h2{
	font-size: 28px;
}
.modal__form > input:nth-child(-n+2){
	height: 25px;
	width: 232px;
	margin-top: 25px;
	border-bottom: 1px solid #333333;
	padding-bottom: 6px;
	outline: none;
}
.modal__form > input::placeholder{ 
	font-size: 16px;
	line-height: 19px;
	color: #828282;
}
label input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.modal__checkbox {
	display: block;
	margin: 25px 0 8px 0;
	line-height: 22px;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.modal__checkbox input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.modal__checkbox span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
	line-height: 22px;    
}
.modal__checkbox span:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	border-radius: 4px;
	left: 0;
	top: 0;
	border: 1px solid #333333;
}
.modal__checkbox input[type=checkbox] + span:after {
	content: "";	
	opacity: 0;
}
.modal__checkbox input[type=checkbox]:checked + span:after {
	content: "✓";
	color: #E5261E;
	font-size:16px;
	font-weight:700;
	position: absolute;
	left: 4px;
	top: 0px;
	opacity: 1;
}
.modal__container > .btn{
	margin-top: 110px;
}

/*-------------------FOOTER--------------------*/

footer{
	margin: 72px 0 0 0;
	padding: 22px 0 0 0;
	background: #F2F2F2;
}
footer .wrapper{
	display: flex;
}
footer  ul{
	margin:0 0 25px 40px;
}

footer ul > li:nth-child(2){
	margin: 6px 0 10px;
}
footer ul > li > a{
	font-weight: 500;
	color: #1F4766;
	text-decoration: none;
}

@media only screen and (max-width : 420px) {

	.wrapper{
		margin: 0 auto;
		max-width: 310px;
	}
	/*---------------------------GLOBAL-----------------------------*/

	/*---------------------------HEADER------------------------------*/
	header .wrapper{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding-top: 34px;
		flex-direction: column;
	}
	.logo{
		font-size: 16px;
	}
	.search_form{
	}
	.search_form > input{
		width: 280px;
	}
	.search_form > button{
		display: none;
	}
	#username_login{
		color: #333333;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		text-align: right;
	}
	/*--------------------------------TABS------------------*/
	.tabs{
		font-size: 20px;
	}
	.tabs span{
		display: inline-block;
		cursor: pointer;
		margin-left: 14px;
	}

	/*--------------------------------NEWS LIST-----------------------------*/
	.news{
		margin: 28px auto 0;
	}
	.news > h2 {
		font-size: 20px;
	}
	.news_list{
		flex-direction: column;
	}
	.news_topic{
		margin-top: 8px;
	}
	/*---------------------------------------GENRES-------------------------*/
	.genres{
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.genre > p:nth-child(2){
		margin: 32px 0 24px;
		font-size: 20px;
		line-height: 24px;
		color: #ffffff;
	}
	.genre{
		margin-bottom: 15px;
	}
	/*-------------------------------CHANNEL LIST-------------------------*/
	.channel_list{
		margin-top: 27px;
		max-height: 696px;
		max-width: 100%;
	}
	.channel_list__item{
		display: flex;
		height: 100px;
		width: 300px;
		border-radius: 8px;
		background: #F2F2F2;
		margin-bottom: 16px;
	}
	.channel__logo{
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 1 30%;
	}
	.channel__logo > img{
		transform: scale(0.7);
	}
	.channel__program{
		flex: 0 1 60%;
	}
	.channel__header{
		margin: 10px 0 8px;
		font-weight: 500;
		font-size: 12px;
		line-height: 24px;
		color: #333333;
	}
	.channel__program > ul > li{
		margin-bottom: 6px;
		font-size: 6px;
		line-height: 11px;
	}
	.channel__program > ul > li:nth-child(1){
		color: #E5261E;
	}
	.channel__program > ul > li > span:nth-child(2){
		margin-left: 5px;
	}
	/*-------------------FOOTER--------------------*/

	footer{
		margin: 72px 0 0 0;
		padding: 22px 0 0 0;
		background: #F2F2F2;
	}
	footer .wrapper{
		display: flex;
	}
	.footer_logo{
		padding-top: 15%;
	}
	.footer_logo > img {
		transform: scale(2);
	}
	footer  ul{
		margin:0 0 25px 40px;
	}
	footer ul > li:nth-child(2){
		margin: 6px 0 10px;
	}
	footer ul > li > a{
		font-weight: 500;
		color: #1F4766;
		text-decoration: none;
	}

}